<?xml version="1.0"?>
<config>
    <modules>
        <Fianet_Sceau>
            <version>1.0.3</version>
        </Fianet_Sceau>
    </modules>  
    <global>
        <blocks>
            <fianet_sceau>
                <class>Fianet_Sceau_Block</class>
            </fianet_sceau>
        </blocks>
        <helpers>
            <fianet_sceau>
                <class>Fianet_Sceau_Helper</class>
            </fianet_sceau>
        </helpers>
        <models>
            <fianet_sceau_mysql4>
                <class>Fianet_Sceau_Model_Mysql4</class>
                <entities>
                </entities>
            </fianet_sceau_mysql4>
        </models>
        
        <resources>
            <fianet_sceau_setup>
                <setup>
                    <module>Fianet_Sceau</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fianet_sceau_setup>
            <fianet_sceau_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fianet_sceau_write>
            <fianet_sceau_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fianet_sceau_read>
        </resources>
        <events>
            <sales_order_save_before>
                <observers>
                    <Fianet_Sceau_Model_Observer_1>
                        <type>singleton</type>
                        <class>Fianet_Sceau_Model_Observer</class>
                        <method>sendToFianet</method>
                    </Fianet_Sceau_Model_Observer_1>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <default>
        <sceau>
            <sceauconfg>
                <orderstatuses>processing</orderstatuses>
            </sceauconfg>
            <widgetconf>
                <active><![CDATA[1]]>
                </active>
                <left_position><![CDATA[1]]>
                </left_position>
                <right_position><![CDATA[1]]>
                </right_position>
                <footer_position><![CDATA[1]]>
                </footer_position>
            </widgetconf>
            <logoconf>
                <active><![CDATA[1]]>
                </active>
                <logo_left_position><![CDATA[1]]>
                </logo_left_position>
                <logo_right_position><![CDATA[1]]>
                </logo_right_position>
                <logo_footer_position><![CDATA[1]]>
                </logo_footer_position>
            </logoconf>
            <url>
            <url_extranet><![CDATA[https://www.fia-net.com/__extranet/]]></url_extranet>
            </url>
            <sceaulinks>
                <fianet_url><![CDATA[https://www.fia-net.com]]></fianet_url>
                <prod_send_url><![CDATA[engine/sendrating.cgi]]></prod_send_url>
                <test_send_url><![CDATA[engine/preprod/sendrating.cgi]]></test_send_url>
            </sceaulinks>
        </sceau>
    </default>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <Fianet_Sceau_Model_Observer_2>
                        <type>singleton</type>
                        <class>Fianet_Sceau_Model_Observer</class>
                        <method>updateSalesOrderGrid</method>
                    </Fianet_Sceau_Model_Observer_2>
                </observers>
            </adminhtml_block_html_before> 
        </events>
        <translate>
            <modules>
                <Fianet_Sceau>
                    <files>
                        <default>Fianet_Sceau.csv</default>
                    </files>
                </Fianet_Sceau>
            </modules>
        </translate>
        <acl>
			<resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sceauconfig>
                            <title>Sceau</title>
                            <sort_order>190</sort_order>
                        </sceauconfig>
						<system>
							<children>
								<config>
									<children>
										<sceau translate="title">
											<title>sceau Section</title>
											<sort_order>100</sort_order>
										</sceau>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <fianet_sceau>
                    <file>fianet_sceau.xml</file>
                </fianet_sceau>
            </updates>
        </layout>
        <routers>
    </routers>
    </frontend>
    <admin>
        <routers>
            <fianetsceau>
                <use>admin</use>
                <args>
                    <module>Fianet_Sceau</module>
                    <frontName>sceau</frontName>
                </args>
            </fianetsceau>
        </routers>
    </admin>
    
    
</config>